body {
    background-color: #FFC1EE;
    margin: 0;
}

/* #page_1 {
    display: none;
} */

#page_2 {
    display: none;
}

#page_3 {
    display: none;
}

#page_4 {
    display: none;
}

#page_5 {
    display: none;
}

#page_6 {
    display: none;
}

#page_7{
    display: none;
}

.navbar {
    background-color: #FC58D8;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    text-align: center;
}

#hamburger_nenu {
    font-size: 80px;
    z-index: 2;
    margin-left: -93%;
    margin-top: 18px;
}

.logo {
    margin-top: -130px;
}

#grid-container {
    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-columns: 30% 10% 10% 20% 30%;
}

.background_img {
    width: 100%;
    grid-area: 1/1/3/6;
    z-index: -1;
}

#page_1_heading {
    font-size: 66px;
    font-family: 'Jost';
    width: fit-content;
    box-shadow: 5px 10px 10px grey;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.bold {
    font-weight: bolder;
}

.center {
    align-content: center;
    text-align: center;
    justify-content: center;
}

#page_1_volume_button_background_1 {
    z-index: 1;
    grid-area: 1/3/1/3;
    position: relative;
    margin-top: 2px;
    margin-left: 30px;
}

#page_1_volume_button_1 {
    z-index: 2;
    grid-area: 1/3/1/3;
    position: relative;
    margin-top: 8px;
    margin-left: 45px;
}

#prostethic_girl {
    z-index: 1;
    grid-area: 2/1/2/1;
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
}

#prostethic_guy {
    z-index: 1;
    grid-area: 2/2/2/2;
    position: relative;
    margin-top: 60px;
}

#girl_leg_braces {
    z-index: 1;
    grid-area: 2/3/2/3;
    position: relative;
    margin-top: 52px;
    margin-left: 30px;

}

#wheelchair_braided {
    z-index: 1;
    grid-area: 3/4/3/4;
    position: relative;
    margin-top: 25px;
    margin-left: 140px;
}

#wheelchair_not_braided {
    z-index: 2;
    grid-area: 3/5/3/5;
    position: relative;
    margin-top: -50px;
    margin-left: 150px;
}

#blind_boy {
    z-index: 1;
    grid-area: 2/5/2/5;
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
}


#page_2_heading {
    font-size: 66px;
    font-family: 'Jost';
    margin-top: -300px;
    margin-left: 70px;
}

#page_1_volume_button_background_2 {
    position: absolute;
    margin-left: 270px;
    margin-top: 1px;
}

#page_1_volume_button_2 {
    position: relative;
    margin-left: 285px;
    margin-top: 10px;
    z-index: 3;
}

#ellipse_background {
    width: 100%;
    position: relative;
    margin-top: 40px;
}

#wheelchair_girl_2 {
    width: 35%;
    position: absolute;
    margin-top: -180px;
    margin-left: -550px;
    z-index: 1;
}

#ellipse_shadow {
    width: 35%;
    position: absolute;
    margin-top: 415px;
    margin-left: -530px;
    z-index: 0;
}

#ellipse_text {
    font-size: 40px;
    font-family: 'Jost';
    position: absolute;
    margin-top: -410px;
    margin-left: 400px;
}

#volume_button_background_ellipse {
    position: absolute;
    margin-top: 350px;
    margin-left: -860px;
    z-index: 3;
}

#volume_button_ellipse {
    position: absolute;
    margin-top: 355px;
    margin-left: -850px;
    z-index: 3;
}

#arrow_button_background_2 {
    position: absolute;
    margin-left: -160px;
    margin-top: 540px;
    padding-bottom: 15px;
}

#arrow_button_2 {
    position: absolute;
    margin-left: -150px;
    margin-top: 550px;
}


#page_2_background {
    width: 100%;
    grid-area: 1/1/3/6;
    z-index: -1;
}

#prosthetic_leg {
    z-index: 2;
    grid-area: 2/1/2/1;
    position: relative;
    margin-top: 130px;
    margin-left: 10px;
}

#blind_buy {
    z-index: 1;
    grid-area: 2/1/2/1;
    position: relative;
    margin-top: 100px;
    margin-left: 95px;
}

#wheelchair {
    z-index: 1;
    grid-area: 2/2/2/2;
    position: relative;
    margin-top: 130px;
    margin-left: 5px;
}

#braces_girl {
    z-index: 1;
    grid-area: 2/4/2/4;
    position: relative;
    margin-top: 115px;
    margin-left: -30px;
}

#page_2_volume_button_background_1 {
    z-index: 1;
    grid-area: 2/5/2/5;
    position: relative;
    margin-top: 420px;
    margin-left: 110px;
}

#page_2_volume_button_1 {
    z-index: 2;
    grid-area: 2/5/2/5;
    position: relative;
    margin-top: 425px;
    margin-left: 120px;
}

#back_button_background_3 {
    z-index: 2;
    grid-area: 2/1/2/1;
    position: relative;
    margin-top: 585px;
    margin-left: 60px;
    padding-bottom: 15px;
}

#back_button_3 {
    z-index: 3;
    grid-area: 2/1/2/1;
    position: relative;
    margin-top: 595px;
    margin-left: 70px;
}

#front_button_background_3 {
    z-index: 2;
    grid-area: 2/5/2/5;
    position: relative;
    margin-top: 585px;
    margin-left: 250px;
    padding-bottom: 15px;
}

#front_button_3 {
    z-index: 3;
    grid-area: 2/5/2/5;
    position: relative;
    margin-top: 595px;
    margin-left: 260px;
}

.names {
    width: 120px;
    height: 36px;
    background-color: #FB37DB;
    text-align: center;
    font-size: 25px;
    font-family: 'Jost';
}

#annie {
    z-index: 4;
    grid-area: 2/1/2/1;
    position: relative;
    margin-top: 80px;
    margin-left: 50px;
}

#david {
    z-index: 4;
    grid-area: 2/2/2/2;
    position: relative;
    margin-top: 40px;
    margin-left: -160px;
}

#wade {
    z-index: 4;
    grid-area: 2/3/2/3;
    position: relative;
    margin-top: 80px;
    margin-left: -60px;
}

#pam {
    z-index: 4;
    grid-area: 2/4/2/4;
    position: relative;
    margin-top: 80px;
    margin-left: 10px;
}

#page_2_text {
    z-index: 4;
    grid-area: 1/4/3/4;
    position: relative;
    margin-top: 30px;
    margin-left: 245px;
    width: 135%;
}

#page_n_heading_background {
    background-color: #FFDDE8;
    z-index: 0;
    width: 100%;
    grid-area: 1/1/1/6;
    position: relative;
    height: 200px;
}

#page_3_heading_text {
    z-index: 1;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
}

#page_3_volume_button_background_1 {
    z-index: 3;
    grid-area: 1/3/1/3;
    position: relative;
    margin-top: 100px;
    margin-left: 80px;
    padding-bottom: 50px;
}

#page_3_volume_button_1 {
    z-index: 4;
    grid-area: 1/3/1/3;
    position: relative;
    margin-top: 105px;
    margin-left: 90px;
}

#page_3_background {
    z-index: 0;
    grid-area: 1/1/1/6;
    position: relative;
    width: 100%;
    margin-top: 200px;
}

#page_3_text {
    z-index: 1;
    grid-area: 1/1/1/6;
    position: relative;
    margin-top: 240px;
    margin-left: 30px;
}

#elevator {
    z-index: 2;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 650px;
}

#elevator_arrow {
    z-index: 2;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 550px;
    margin-left: 62px;
    width: 20%;
    visibility: hidden;
}

#calling_guy {
    z-index: 2;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 560px;
    margin-left: 170px;
}

#exclamation {
    z-index: 2;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 440px;
    margin-left: 230px;
}

#page_3_wheelchair {
    z-index: 2;
    grid-area: 1/2/1/2;
    position: relative;
    margin-top: 500px;
    margin-left: 165px;
}


#page_3_girl_leg_braces {
    z-index: 3;
    grid-area: 1/2/1/2;
    position: relative;
    margin-top: 500px;
    margin-left: 400px;
}

#stairs {
    z-index: 4;
    grid-area: 1/2/1/2;
    position: relative;
    margin-top: 395px;
    margin-left: 602px;
    width: 260%;
}

#page_3_volume_button_background_2 {
    z-index: 3;
    grid-area: 1/5/1/5;
    position: relative;
    margin-top: 400px;
    margin-left: 120px;
}

#page_3_volume_button_2 {
    z-index: 4;
    grid-area: 1/5/1/5;
    position: relative;
    margin-top: 405px;
    margin-left: 130px;
}

#page_3_back_button_background {
    z-index: 2;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 975px;
    margin-left: 60px;
    padding-bottom: 20px;
}

#page_3_back_button {
    z-index: 3;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 985px;
    margin-left: 70px;
}

#page_3_hint_text {
    z-index: 2;
    grid-area: 1/5/1/5;
    position: relative;
    margin-top: 975px;
    margin-left: -20px;
    /* padding-bottom: 20px; */
}

#page_3_hint_audio_background {
    z-index: 2;
    grid-area: 1/5/1/5;
    position: relative;
    margin-top: 1025px;
    margin-left: 55px;
}

#page_3_hint_audio {
    z-index: 3;
    grid-area: 1/5/1/5;
    position: relative;
    margin-top: 1030px;
    margin-left: 65px;
}

#page_3_yes_button {
    z-index: 3;
    grid-area: 1/5/1/5;
    position: relative;
    margin-top: 1030px;
    margin-left: 250px;
}

#page_3_yes_background {
    z-index: 2;
    grid-area: 1/5/1/5;
    position: relative;
    margin-top: 993px;
    margin-left: 228px;
}

#page_4_background {
    z-index: 0;
    grid-area: 1/1/1/6;
    position: relative;
    width: 100%;
    margin-top: 200px;
}

#elevator_2 {
    z-index: 1;
    grid-area: 1/1/1/1;
    margin-top: 200px;
}



#page_4_wheelchair_guy {
    z-index: 1;
    grid-area: 1/2/1/2;
    margin-top: 500px;
    margin-left: 30px;
}

#page_4_girl_leg_braces {
    z-index: 1;
    grid-area: 1/2/1/2;
    margin-top: 500px;
    margin-left: 300px;
}

#page_4_text {
    z-index: 1;
    grid-area: 1/3/1/3;
    margin-top: 250px;
    margin-left: 170px;
}

#page_4_volume_button_background_1 {
    z-index: 3;
    grid-area: 1/3/1/3;
    position: relative;
    margin-top: 420px;
    margin-left: 360px;
}

#page_4_volume_button_1 {
    z-index: 4;
    grid-area: 1/3/1/3;
    position: relative;
    margin-top: 425px;
    margin-left: 371px;
}

#boy_calling_2 {
    z-index: 4;
    grid-area: 1/3/1/3;
    position: relative;
    margin-top: 525px;
    margin-left: 320px;
}

#back_button_background_4 {
    z-index: 3;
    grid-area: 1/1/1/1;
    margin-top: 1035px;
    margin-left: 50px;
}

#back_button_4 {
    z-index: 4;
    grid-area: 1/1/1/1;
    margin-top: 1045px;
    margin-left: 58px;
}

#front_button_background_4 {
    z-index: 4;
    grid-area: 1/5/1/5;
    margin-top: 1035px;
    margin-left: 230px;
    padding-bottom: 20px;
}

#front_button_4 {
    z-index: 4;
    grid-area: 1/5/1/5;
    margin-top: 1045px;
    margin-left: 238px;
}


#page_5_heading_text {
    z-index: 1;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 30px;
    margin-left: 200px;
}

#page_5_background {
    z-index: 0;
    grid-area: 1/1/1/6;
    margin-top: 200px;
    width: 100%;
}

#page_5_text {
    z-index: 1;
    grid-area: 1/2/1/2;
    position: relative;
    margin-top: 250px;
}

#page_5_volume_button_background_5 {
    z-index: 3;
    grid-area: 1/3/1/3;
    position: relative;
    margin-top: 650px;
    margin-left: 80px;
    padding-bottom: 50px;
}

#page_5_volume_button_5 {
    z-index: 4;
    grid-area: 1/3/1/3;
    position: relative;
    margin-top: 655px;
    margin-left: 90px;
}

#page_5_girl {
    z-index: 3;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 400px;
    margin-left: 90px;
}

#page_5_boy {
    z-index: 3;
    grid-area: 1/4/1/4;
    position: relative;
    margin-top: 330px;
    margin-left: 330px;
}

#back_button_background_5 {
    z-index: 6;
    grid-area: 1/1/1/1;
    margin-top: 900px;
    margin-left: 50px;
}

#back_button_5 {
    z-index: 7;
    grid-area: 1/1/1/1;
    margin-top: 910px;
    margin-left: 58px;
}

#front_button_background_5 {
    z-index: 6;
    grid-area: 1/5/1/5;
    margin-top: 900px;
    margin-left: 230px;
    padding-bottom: 20px;
}

#front_button_5 {
    z-index: 7;
    grid-area: 1/5/1/5;
    margin-top: 910px;
    margin-left: 238px;
}

#page_6_text {
    z-index: 1;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 380px;
    margin-left: 70px;
}

#page_6_volume_button_background_5 {
    z-index: 1;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 680px;
    margin-left: 230px;
}

#page_6_volume_button_5 {
    z-index: 1;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 685px;
    margin-left: 240px;
}

#page_6_girl_and_boy {
    z-index: 1;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 330px;
    margin-left: 540px;
}

#page_7_heading_text {
    z-index: 1;
    grid-area: 1/1/1/1;
    position: relative;
    margin-top: 30px;
    margin-left: 100px;
}

#page_7_volume_button_background_1 {
    z-index: 3;
    grid-area: 1/3/1/3;
    position: relative;
    margin-top: 170px;
    margin-left: 80px;
    padding-bottom: 50px;
}

#page_7_volume_button_1 {
    z-index: 4;
    grid-area: 1/3/1/3;
    position: relative;
    margin-top: 175px;
    margin-left: 90px;
}

#page_7_heading_background {
    background-color: #FFDDE8;
    z-index: 0;
    width: 100%;
    grid-area: 1/1/1/6;
    position: relative;
    height: 270px;
}

#page_7_background {
    z-index: 0;
    grid-area: 1/1/1/6;
    margin-top: 270px;
    margin-left: -75px;
}

#page_7_boom {
    z-index: 6;
    grid-area: 1/2/1/2;
    margin-top: 600px;
    margin-left: 50px;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

#page_7_blast {
    z-index: 5;
    grid-area: 1/1/1/1;
    margin-top: 388px;
    margin-left: 50px;
    animation: fadeIn 6s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#back_button_background_7 {
    z-index: 6;
    grid-area: 1/1/1/1;
    margin-top: 1000px;
    margin-left: 50px;
}

#back_button_7 {
    z-index: 7;
    grid-area: 1/1/1/1;
    margin-top: 1010px;
    margin-left: 58px;
}

#front_button_background_7 {
    z-index: 6;
    grid-area: 1/5/1/5;
    margin-top: 1000px;
    margin-left: 230px;
    padding-bottom: 20px;
}

#front_button_7 {
    z-index: 7;
    grid-area: 1/5/1/5;
    margin-top: 1023px;
    margin-left: 252px;
}